<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title>hero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h3>Welcome to hero page</h3>
  
</ion-content>
