<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Navigation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button href="hero">
      Click me
    </ion-button>
  </div>
</ion-content>
